<a href="https://colab.research.google.com/github/Saadahm/Saadahm1/blob/main/Decision_Tree_Netflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('NFLX.csv')

In [24]:
df.head()

         Date       Open       High        Low      Close  Adj Close     Volume
0  2011-06-13  37.111427  37.571430  34.894287  35.095715  35.095715  134741600
1  2011-06-20  34.551430  37.264286  34.302856  36.708572  36.708572  133948500
2  2011-06-27  36.414288  38.391430  35.948570  38.284286  38.284286  103798100
3  2011-07-04  39.428570  42.478573  39.387142  42.162857  42.162857  143000200
4  2011-07-11  42.118572  43.541428  40.231430  40.990002  40.990002  191842700

In [25]:
df.describe

<bound method NDFrame.describe of            Date        Open        High  ...       Close   Adj Close     Volume
0    2011-06-13   37.111427   37.571430  ...   35.095715   35.095715  134741600
1    2011-06-20   34.551430   37.264286  ...   36.708572   36.708572  133948500
2    2011-06-27   36.414288   38.391430  ...   38.284286   38.284286  103798100
3    2011-07-04   39.428570   42.478573  ...   42.162857   42.162857  143000200
4    2011-07-11   42.118572   43.541428  ...   40.990002   40.990002  191842700
..          ...         ...         ...  ...         ...         ...        ...
518  2021-05-17  485.589996  505.399994  ...  497.890015  497.890015   15449700
519  2021-05-24  501.049988  511.760010  ...  502.809998  502.809998   13741500
520  2021-05-31  504.010010  505.410004  ...  494.739990  494.739990   11790300
521  2021-06-07  492.920013  498.820007  ...  488.769989  488.769989   15725200
522  2021-06-11  490.000000  491.399994  ...  488.769989  488.769989    3123969

[523 rows x 7 columns]>

In [26]:
df.head()

         Date       Open       High        Low      Close  Adj Close     Volume
0  2011-06-13  37.111427  37.571430  34.894287  35.095715  35.095715  134741600
1  2011-06-20  34.551430  37.264286  34.302856  36.708572  36.708572  133948500
2  2011-06-27  36.414288  38.391430  35.948570  38.284286  38.284286  103798100
3  2011-07-04  39.428570  42.478573  39.387142  42.162857  42.162857  143000200
4  2011-07-11  42.118572  43.541428  40.231430  40.990002  40.990002  191842700

In [27]:
df['Date']=pd.to_datetime(df.Date)

In [28]:
df=df.drop(columns=['Date'])

In [29]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [30]:
x=df.iloc[:,0:df.shape[1]-1].values
y=df.iloc[:,df.shape[1]-1].values

In [31]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [32]:
from sklearn.tree import DecisionTreeClassifier

In [33]:
clf = DecisionTreeClassifier(random_state=0)

In [34]:
clf.fit(x_train,y_train)
#data['Date'] = pd.to_numeric(pd.to_datetime(data['Date']))

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [35]:
y_pred=clf.predict(x_test)

In [16]:
print("Accuracy is: ", metrics.accuracy_score(y_test,y_pred))

Accuracy is:  0.0

In [36]:
y_pred[0:]

array([240534000,  83183800,  61912200, 117409900, 103798100,  30886700,
       104098400,  27515600, 200309200,  42726100,  48734700, 114963000,
       179586400,  59732400,  49200100,  26443600,  57889800,  38774200,
        79529400,  85224100,  53706000,  85048600,  56987700, 123846800,
       170685900,  59687000,  44558400,  27137700,  52025400,  18501700,
        84739900, 163285500,  45411300,  37744000,  48061400,  27515600,
        18485600,  62808100, 155309700,  48381200,  29850500,  65245600,
       121976400,  23260700,  70234600, 166354300,  23504400,  57437100,
        59732400, 713695500,  23412000,  58978500,  16185200,  25902900,
        32986500,  48834800,  36074000,  59732400,  45391500,  19584800,
        59687000,  31437300,  28985100,  86978500,  36074000,  15725200,
        65245600,  64401400, 121387000,  23260700,  59687000,  34006200,
        62852700,  36127000,  59488100, 124961900,  90004700,  57687500,
        45391500,  62229400, 121387000,  41110300,  48834800,  58978500,
        53989800,  37666800,  97806100,  29729900,  94270900,  97978300,
        41110300,  33333400,  30886700, 153364400, 157070900,  24901900,
       134741600,  13189800,  37666800,  49239600,  31953100, 117409900,
        23260700,  53888800,  29850500])

In [37]:
print(clf.score(x_test,y_test))

0.0

In [38]:
tree_predictions=clf.predict(x_test)
print(tree_predictions)

[240534000  83183800  61912200 117409900 103798100  30886700 104098400
  27515600 200309200  42726100  48734700 114963000 179586400  59732400
  49200100  26443600  57889800  38774200  79529400  85224100  53706000
  85048600  56987700 123846800 170685900  59687000  44558400  27137700
  52025400  18501700  84739900 163285500  45411300  37744000  48061400
  27515600  18485600  62808100 155309700  48381200  29850500  65245600
 121976400  23260700  70234600 166354300  23504400  57437100  59732400
 713695500  23412000  58978500  16185200  25902900  32986500  48834800
  36074000  59732400  45391500  19584800  59687000  31437300  28985100
  86978500  36074000  15725200  65245600  64401400 121387000  23260700
  59687000  34006200  62852700  36127000  59488100 124961900  90004700
  57687500  45391500  62229400 121387000  41110300  48834800  58978500
  53989800  37666800  97806100  29729900  94270900  97978300  41110300
  33333400  30886700 153364400 157070900  24901900 134741600  13189800
  37666800  49239600  31953100 117409900  23260700  53888800  29850500]