<a href="https://colab.research.google.com/github/Saadahm/Saadahm1/blob/main/Decision_Tree_Apple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('AAPL.csv')

In [40]:
df.head()

         Date       Open       High  ...      Close  Adj Close      Volume
0  2011-06-13  11.685714  11.901786  ...  11.437857   9.835445  2188849600
1  2011-06-20  11.334286  11.898214  ...  11.655357  10.022475  2524177600
2  2011-06-27  11.699643  12.267857  ...  12.259286  10.541796  1744926400
3  2011-07-04  12.250000  12.857143  ...  12.846786  11.046986  1688976800
4  2011-07-11  12.726429  13.035714  ...  13.032857  11.206989  2200923200

[5 rows x 7 columns]

In [41]:
df.describe

<bound method NDFrame.describe of            Date        Open        High  ...       Close   Adj Close      Volume
0    2011-06-13   11.685714   11.901786  ...   11.437857    9.835445  2188849600
1    2011-06-20   11.334286   11.898214  ...   11.655357   10.022475  2524177600
2    2011-06-27   11.699643   12.267857  ...   12.259286   10.541796  1744926400
3    2011-07-04   12.250000   12.857143  ...   12.846786   11.046986  1688976800
4    2011-07-11   12.726429   13.035714  ...   13.032857   11.206989  2200923200
..          ...         ...         ...  ...         ...         ...         ...
518  2021-05-17  126.820000  128.000000  ...  125.430000  125.430000   386352000
519  2021-05-24  126.010002  128.320007  ...  124.610001  124.610001   357615000
520  2021-05-31  125.080002  126.160004  ...  125.889999  125.889999   278232500
521  2021-06-07  126.169998  128.460007  ...  127.349998  127.349998   326941000
522  2021-06-11  126.529999  127.440002  ...  127.349998  127.349998    53522373

[523 rows x 7 columns]>

In [42]:
df.head()

         Date       Open       High  ...      Close  Adj Close      Volume
0  2011-06-13  11.685714  11.901786  ...  11.437857   9.835445  2188849600
1  2011-06-20  11.334286  11.898214  ...  11.655357  10.022475  2524177600
2  2011-06-27  11.699643  12.267857  ...  12.259286  10.541796  1744926400
3  2011-07-04  12.250000  12.857143  ...  12.846786  11.046986  1688976800
4  2011-07-11  12.726429  13.035714  ...  13.032857  11.206989  2200923200

[5 rows x 7 columns]

In [43]:
df['Date']=pd.to_datetime(df.Date)

In [44]:
df=df.drop(columns=['Date'])

In [45]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [46]:
x=df.iloc[:,0:df.shape[1]-1].values
y=df.iloc[:,df.shape[1]-1].values

In [47]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [48]:
from sklearn.tree import DecisionTreeClassifier

In [49]:
clf = DecisionTreeClassifier(random_state=0)

In [50]:
clf.fit(x_train,y_train)
#data['Date'] = pd.to_numeric(pd.to_datetime(data['Date']))

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [51]:
y_pred=clf.predict(x_test)

In [52]:
print("Accuracy is: ", metrics.accuracy_score(y_test,y_pred))

Accuracy is:  0.0

In [53]:
y_pred[0:]

array([1724562000, 3582726000, 1672025600, 1425130000, 2489043200,
        650762400,  864199200,  355011600, 1470929600,  504117600,
       1553594000,  995880800, 1312270400,  766394400,  549924400,
        444178800, 1434159200,  745822400,  476635200,  495046000,
        650762400, 1026284000, 1573639200, 1541106000, 2170820400,
        556588800,  794100800,  364614800, 1758710800,  546670000,
        793365600, 1145046000,  469474000,  745822400,  729373200,
        814824400,  444178800, 1683889200, 1777140400, 1724562000,
        745662000, 2186332400, 1046452400,  559410800,  544825600,
       2952331200,  349566400, 1930238800,  607958400, 1488253200,
        586977300,  864199200,  345543100,  356994000,  771441800,
        421664800,  619427200, 1434159200,  546670000,  881222300,
        814824400,  495648000,  538514000, 1540002400,  504514800,
        386352000, 2188849600,  673265200, 3376402400,  544825600,
        629419600,  582890400,  532002400, 1133010000, 1011222800,
       1360357600,  477586000,  837010800,  546670000, 1521346000,
       3376402400,  650762400,  508240800, 1292640000,  650762400,
        498023200, 2006566800,  745662000,  605593600, 1603809200,
        874984400,  422709600,  854999600,  453292000, 2489043200,
        386352000, 2128442400,  447820500,  804382800,  649240000,
        444178800,  499457600,  559410800, 1681918000,  497736000])

In [54]:
print(clf.score(x_test,y_test))

0.0

In [55]:
tree_predictions=clf.predict(x_test)
print(tree_predictions)

[1724562000 3582726000 1672025600 1425130000 2489043200  650762400
  864199200  355011600 1470929600  504117600 1553594000  995880800
 1312270400  766394400  549924400  444178800 1434159200  745822400
  476635200  495046000  650762400 1026284000 1573639200 1541106000
 2170820400  556588800  794100800  364614800 1758710800  546670000
  793365600 1145046000  469474000  745822400  729373200  814824400
  444178800 1683889200 1777140400 1724562000  745662000 2186332400
 1046452400  559410800  544825600 2952331200  349566400 1930238800
  607958400 1488253200  586977300  864199200  345543100  356994000
  771441800  421664800  619427200 1434159200  546670000  881222300
  814824400  495648000  538514000 1540002400  504514800  386352000
 2188849600  673265200 3376402400  544825600  629419600  582890400
  532002400 1133010000 1011222800 1360357600  477586000  837010800
  546670000 1521346000 3376402400  650762400  508240800 1292640000
  650762400  498023200 2006566800  745662000  605593600 1603809200
  874984400  422709600  854999600  453292000 2489043200  386352000
 2128442400  447820500  804382800  649240000  444178800  499457600
  559410800 1681918000  497736000]