<a href="https://colab.research.google.com/github/Saadahm/Saadahm1/blob/main/Moving_Averages_Samsung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [138]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [139]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('005930.KS.csv')

In [140]:
df.describe()

               Open          High  ...     Adj Close        Volume
count    523.000000    523.000000  ...    523.000000  5.230000e+02
mean   37824.015296  38890.114723  ...  34140.940932  6.744126e+07
std    15916.738290  16371.771449  ...  16596.217493  2.931286e+07
min    13680.000000  14760.000000  ...  11175.750000  0.000000e+00
25%    25810.000000  26520.000000  ...  21741.436524  4.856692e+07
50%    30360.000000  31160.000000  ...  25453.410156  6.066430e+07
75%    47500.000000  49250.000000  ...  43727.035157  7.755890e+07
max    90000.000000  96800.000000  ...  88407.148438  2.348832e+08

[8 rows x 6 columns]

In [141]:
df.head()

         Date     Open     High      Low    Close     Adj Close    Volume
0  2011-06-13  16880.0  17460.0  16060.0  16380.0  13452.113281  86986900
1  2011-06-20  16260.0  17080.0  15900.0  17040.0  13994.144531  96266850
2  2011-06-27  16940.0  17200.0  16420.0  17100.0  14043.418945  76047550
3  2011-07-04  17400.0  17980.0  17380.0  17700.0  14544.911133  83693400
4  2011-07-11  17600.0  17600.0  16420.0  16640.0  13673.856445  78787450

In [142]:

x=df[['Open','High','Low','Volume']]
y=df['Close']

In [143]:
import matplotlib.pyplot as plt
df['Date'] = pd.to_datetime(df.Date)
df.index=df['Date']
df
train_size=(int)(0.2*len(df.index))
test_size=len(df.index)-train_size

In [144]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [145]:

df1 = pd.DataFrame(index=np.arange(len(df.index)))
df.sort_index(inplace=True)
df1.index=df['Date']

In [146]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [69]:
#sc_X=StandardScaler()
#x_train=sc_X.fit_transform(x_train)
#x_test=sc_X.fit_transform(x_test)

In [147]:
df1['Date']=pd.Series(df['Date'])
df1['Close']=pd.Series(df['Adj Close'])

In [148]:
x_train=df1.iloc[:x1_train][:]
x_test=df1.iloc[x1_train:][:]
x_train.shape
predicted=[]

#for i in range(0,test_1.shape[0]):
  #  predicted1 = x_train['AdjClose'][len(x_train)-test_size+i:].sum() + sum(predicted)
for i in range(0,test_1.shape[0]):
    predicted1 = x_train['Close'][len(x_train)-test_size+i:].sum() + sum(predicted)
    predicted.append(predicted1/test_size)

In [149]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [150]:
print(sklearn.metrics.r2_score(test_1['Close'], predicted))

-183093.3598993183