<a href="https://colab.research.google.com/github/Saadahm/Saadahm1/blob/main/Moving_Averages_Netflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('NFLX.csv')

In [34]:
df.describe()

             Open        High         Low       Close   Adj Close        Volume
count  523.000000  523.000000  523.000000  523.000000  523.000000  5.230000e+02
mean   180.040778  187.655279  173.532019  180.929674  180.929674  8.734732e+07
std    162.861814  169.513468  157.218526  163.353438  163.353438  8.678611e+07
min      7.791429    8.262857    7.544286    7.701429    7.701429  3.123969e+06
25%     47.545714   49.742143   45.621429   47.712857   47.712857  3.264995e+07
50%    107.480003  115.419998  101.209999  108.379997  108.379997  6.049690e+07
75%    318.989990  336.199997  305.770005  325.039994  325.039994  1.139114e+08
max    567.979980  593.289978  543.000000  565.169983  565.169983  7.136955e+08

In [6]:
df.head()

         Date       Open       High        Low      Close  Adj Close     Volume
0  2011-06-13  37.111427  37.571430  34.894287  35.095715  35.095715  134741600
1  2011-06-20  34.551430  37.264286  34.302856  36.708572  36.708572  133948500
2  2011-06-27  36.414288  38.391430  35.948570  38.284286  38.284286  103798100
3  2011-07-04  39.428570  42.478573  39.387142  42.162857  42.162857  143000200
4  2011-07-11  42.118572  43.541428  40.231430  40.990002  40.990002  191842700

In [108]:

x=df[['Open','High','Low','Volume']]
y=df['Close']

In [118]:
import matplotlib.pyplot as plt
df['Date'] = pd.to_datetime(df.Date)
df.index=df['Date']
df
train_size=(int)(0.2*len(df.index))
test_size=len(df.index)-train_size

In [109]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [119]:

df1 = pd.DataFrame(index=np.arange(len(df.index)))
df.sort_index(inplace=True)
df1.index=df['Date']

In [112]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [69]:
#sc_X=StandardScaler()
#x_train=sc_X.fit_transform(x_train)
#x_test=sc_X.fit_transform(x_test)

In [120]:
df1['Date']=pd.Series(df['Date'])
df1['Close']=pd.Series(df['Adj Close'])

In [121]:
x_train=df1.iloc[:x1_train][:]
x_test=df1.iloc[x1_train:][:]
x_train.shape
predicted=[]

#for i in range(0,test_1.shape[0]):
  #  predicted1 = x_train['AdjClose'][len(x_train)-test_size+i:].sum() + sum(predicted)
for i in range(0,test_1.shape[0]):
    predicted1 = x_train['Close'][len(x_train)-test_size+i:].sum() + sum(predicted)
    predicted.append(predicted1/test_size)

In [122]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [124]:
print(sklearn.metrics.r2_score(test_1['Close'], predicted))

-3.6600460674452764