<a href="https://colab.research.google.com/github/Saadahm/Saadahm1/blob/main/Moving_Averages_Apple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [125]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [126]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('AAPL.csv')

In [127]:
df.describe()

             Open        High         Low       Close   Adj Close        Volume
count  523.000000  523.000000  523.000000  523.000000  523.000000  5.230000e+02
mean    41.315260   42.562649   40.316071   41.523985   39.786268  1.152484e+09
std     30.491574   31.566297   29.586475   30.637048   31.238937  8.610701e+08
min     11.334286   11.898214   11.089286   11.437857    9.835445  5.352237e+07
25%     21.215179   21.773750   20.626428   21.225535   18.465643  5.476226e+08
50%     29.584999   30.000000   28.897499   29.757500   27.500698  8.290760e+08
75%     47.857501   48.385000   46.983750   47.797500   46.407387  1.474039e+09
max    143.070007  145.089996  133.690002  139.070007  138.627029  4.896550e+09

In [128]:
df.head()

         Date       Open       High  ...      Close  Adj Close      Volume
0  2011-06-13  11.685714  11.901786  ...  11.437857   9.835445  2188849600
1  2011-06-20  11.334286  11.898214  ...  11.655357  10.022475  2524177600
2  2011-06-27  11.699643  12.267857  ...  12.259286  10.541796  1744926400
3  2011-07-04  12.250000  12.857143  ...  12.846786  11.046986  1688976800
4  2011-07-11  12.726429  13.035714  ...  13.032857  11.206989  2200923200

[5 rows x 7 columns]

In [129]:

x=df[['Open','High','Low','Volume']]
y=df['Close']

In [130]:
import matplotlib.pyplot as plt
df['Date'] = pd.to_datetime(df.Date)
df.index=df['Date']
df
train_size=(int)(0.2*len(df.index))
test_size=len(df.index)-train_size

In [131]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [132]:

df1 = pd.DataFrame(index=np.arange(len(df.index)))
df.sort_index(inplace=True)
df1.index=df['Date']

In [133]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [69]:
#sc_X=StandardScaler()
#x_train=sc_X.fit_transform(x_train)
#x_test=sc_X.fit_transform(x_test)

In [134]:
df1['Date']=pd.Series(df['Date'])
df1['Close']=pd.Series(df['Adj Close'])

In [135]:
x_train=df1.iloc[:x1_train][:]
x_test=df1.iloc[x1_train:][:]
x_train.shape
predicted=[]

#for i in range(0,test_1.shape[0]):
  #  predicted1 = x_train['AdjClose'][len(x_train)-test_size+i:].sum() + sum(predicted)
for i in range(0,test_1.shape[0]):
    predicted1 = x_train['Close'][len(x_train)-test_size+i:].sum() + sum(predicted)
    predicted.append(predicted1/test_size)

In [136]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [137]:
print(sklearn.metrics.r2_score(test_1['Close'], predicted))

-16.7305294354428