<a href="https://colab.research.google.com/github/Saadahm/Saadahm1/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('005930.KS.csv')

In [3]:
df.head()

         Date     Open     High      Low    Close     Adj Close    Volume
0  2011-06-13  16880.0  17460.0  16060.0  16380.0  13452.113281  86986900
1  2011-06-20  16260.0  17080.0  15900.0  17040.0  13994.144531  96266850
2  2011-06-27  16940.0  17200.0  16420.0  17100.0  14043.418945  76047550
3  2011-07-04  17400.0  17980.0  17380.0  17700.0  14544.911133  83693400
4  2011-07-11  17600.0  17600.0  16420.0  16640.0  13673.856445  78787450

In [22]:
df.describe

<bound method NDFrame.describe of         Open     High      Low    Close     Adj Close    Volume
0    16880.0  17460.0  16060.0  16380.0  13452.113281  86986900
1    16260.0  17080.0  15900.0  17040.0  13994.144531  96266850
2    16940.0  17200.0  16420.0  17100.0  14043.418945  76047550
3    17400.0  17980.0  17380.0  17700.0  14544.911133  83693400
4    17600.0  17600.0  16420.0  16640.0  13673.856445  78787450
..       ...      ...      ...      ...           ...       ...
518  80800.0  81500.0  79100.0  80100.0  80100.000000  72738804
519  80100.0  80500.0  79100.0  80100.0  80100.000000  74570676
520  80300.0  83000.0  79600.0  82200.0  82200.000000  91452635
521  82700.0  82800.0  80700.0  81000.0  81000.000000  75861203
522  81200.0  81700.0  80700.0  81000.0  81000.000000  13791983

[523 rows x 6 columns]>

In [6]:
df.head()

         Date     Open     High      Low    Close     Adj Close    Volume
0  2011-06-13  16880.0  17460.0  16060.0  16380.0  13452.113281  86986900
1  2011-06-20  16260.0  17080.0  15900.0  17040.0  13994.144531  96266850
2  2011-06-27  16940.0  17200.0  16420.0  17100.0  14043.418945  76047550
3  2011-07-04  17400.0  17980.0  17380.0  17700.0  14544.911133  83693400
4  2011-07-11  17600.0  17600.0  16420.0  16640.0  13673.856445  78787450

In [7]:
df['Date']=pd.to_datetime(df.Date)

In [8]:
df=df.drop(columns=['Date'])

In [9]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [10]:
x=df.iloc[:,0:df.shape[1]-1].values
y=df.iloc[:,df.shape[1]-1].values

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [12]:
from sklearn.tree import DecisionTreeClassifier

In [13]:
clf = DecisionTreeClassifier(random_state=0)

In [14]:
clf.fit(x_train,y_train)
#data['Date'] = pd.to_numeric(pd.to_datetime(data['Date']))

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [15]:
y_pred=clf.predict(x_test)

In [16]:
print("Accuracy is: ", metrics.accuracy_score(y_test,y_pred))

Accuracy is:  0.0

In [17]:
y_pred[0:]

array([ 59548450,  50430850,  53079950,  39237750,  60224950,  60022891,
        70390150,  87173510,  39237750,  59422200,  82203050,  67072200,
       151499100,  41299700,  65163738, 132134991,  28074700,  59318608,
        53730400,  53079950,  59318608,  53147650,  61030800,  67380100,
        50332250,  41509508,  70486100,  37092800,  33206600,  46102000,
        50965050,  50430850,  38445022,  87173510,  35371663,  62084500,
       100449312,  57963050,  58257850,  72061150, 145674450,  49842750,
        82203050,  45749403,  36772250,  57611750,  65111052,  63487750,
        36061350,  45068400,  53927668,  63487750,  86988349,  37092800,
        98695931, 120397243, 120397243,  89733350,  46852750, 100449312,
        34428115,  81670691,  84719400,  53187900,  45749403,  75861203,
        59548450,  55727850,  88876100,  74031877,  58080900,  64250700,
        33206600,  53079950,  63993050,  54282950,  70390150,  60022891,
        46665300,  75839200, 202264800,  97783702,  62084500,  84294500,
        46835737,  49559700,  72359900,  53034822,  73358085,  60290400,
        73358085,  53730400,  65912471,  89105900,  71449100,  59445279,
        72670400,  88586461,  54021250, 108933650,  98237614, 151499100,
        66752950,  39237750,  85090869])

In [20]:
print(clf.score(x_test,y_test))

0.0

In [21]:
tree_predictions=clf.predict(x_test)
print(tree_predictions)

[ 59548450  50430850  53079950  39237750  60224950  60022891  70390150
  87173510  39237750  59422200  82203050  67072200 151499100  41299700
  65163738 132134991  28074700  59318608  53730400  53079950  59318608
  53147650  61030800  67380100  50332250  41509508  70486100  37092800
  33206600  46102000  50965050  50430850  38445022  87173510  35371663
  62084500 100449312  57963050  58257850  72061150 145674450  49842750
  82203050  45749403  36772250  57611750  65111052  63487750  36061350
  45068400  53927668  63487750  86988349  37092800  98695931 120397243
 120397243  89733350  46852750 100449312  34428115  81670691  84719400
  53187900  45749403  75861203  59548450  55727850  88876100  74031877
  58080900  64250700  33206600  53079950  63993050  54282950  70390150
  60022891  46665300  75839200 202264800  97783702  62084500  84294500
  46835737  49559700  72359900  53034822  73358085  60290400  73358085
  53730400  65912471  89105900  71449100  59445279  72670400  88586461
  54021250 108933650  98237614 151499100  66752950  39237750  85090869]